section.main-page__list.preview
  h2.visually-hidden Список превью статей
  ul.preview__list
    each article in articles
      li.preview__item
        ul.preview__breadcrumbs
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') Дизайн
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') Удаленная работа
        .preview__background
          img.preview__background-image(src='/img/skyscraper@1x.jpg' width='460' height='240' srcset='/img/skyscraper@1x.jpg 1x, /img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
        time.preview__time(datetime='#{article.createdDate}') #{article.createdDate}
        h3.preview__name
          a.preview__name-link(href='#') #{article.title}
        p.preview__text #{article.announce}
        a.preview__comment(href='#')
          | Комментарии
          span.preview__cloud
          b.preview__comment-count #{article.comments.length}
